/* アップロード画面のcss */
/* 背景設定（いじるな） */
.apload{
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #222b36;
}
/* サムネ設定（デザイン） */
.ap00{
  position: absolute;
  top: 130px;
  left: 200px;
}
.image-preview{
  max-width: 200px;
  max-height: 200px;
  min-width: 200px;
  min-height: 200px;
  border: 2px solid #dddddd;
  margin-top: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #cccccc;
}
.image-preview__image{
  display: none;
  max-width: 200px;
  max-height: 200px;
  min-width: 200px;
  min-height: 200px;
}
/* 生年月日 */
.userdateofbirth00{
  position: absolute;
  margin: 0;
  padding: 0;
  top: 400px;
  left: 200px;
}
.userdateofbirth01{
  color: #fff;
}
.userdateofbirth02{
  padding: 7px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  color: #fff;
  background-color: #11101d;
}
/* 職業入力欄 */
.userjobs00{
  position: absolute;
  margin: 0;
  padding: 0;
  top: 470px;
  left: 200px;
}
.userjobs01{
  color: #fff;
}
.userjobs02{
  padding: 7px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  color: #fff;
  background-color: #11101d;
}
/* タグ設定（デザイン） */
.tag00{
  position: fixed;
  margin: 0;
  padding: 0;
  top: 555px;
  left: 200px;
}
.tag01{
  position: absolute;
  font-size: 18px;
  margin: 0;
  padding: 0;
  border-radius: 6px;
  color: #fff;
  background-color: #11101d;
}
.favoritegenre{
  color: #fff;
}
/* 登録日 */
.userregisterdate{
  position: absolute;
  margin: 0;
  padding: 0;
  top: 800px;
  left: 200px;
  border: none;
  font-size: 24px;
  color: #ccc;
  background-color: #222b36;
}
/* 背景その２ */
.profilechangelist02{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 900px;
  height: 800px;
  top: 100px;
  left: 580px;
  border: none;
  border-radius: 6px;
  background-color: #11101d;
}
/* 名前変更 */
.usernamechange00{
  position: absolute;
  margin: 0;
  padding: 0;
  top: 50px;
  left: 100px;
}
.usernamechange01{
  font-size: 24px;
  color: #fff;
}
.usernamechange02{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 400px;
  height: 45px;
  font-size: 24px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  border-radius: 6px;
  left: 30px;
  border: none;
  color: #fff;
  background-color: #1d1b31;
}
/* 性別選択 */
.checkbox00{
  position: absolute;
  margin: 0;
  padding: 0;
  top: 80px;
  left: 150px;
  font-size: 24px;
  color: #fff;
  font-weight:bold;
}
.permission0{
	width: 20px;
	height: 20px;
}
.men{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  top: 130px;
  left: 100px;
}
.women{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  top: 130px;
  left: 200px;
}
.lgbt{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100px;
  height: 50px;
  top: 130px;
  left: 300px;
}
/* メアド設定*/
.useremailchange01{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 450px;
  height: 40px;
  top: 260px;
  left: 150px;
  text-align: center;
  font-size: 24px;
  border: none;
  border-radius: 6px;
  color: #fff;
  background-color: #1d1b31;
}
.useremailchange00{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 200px;
  height: 50px;
  top: 260px;
  left: 650px;
  text-align: center;
  border: none;
  border-radius: 6px;
  background-color: #ccc;
}
.useremailchange02{
  position: relative;
  margin: 0;
  padding: 0;
  top: 12px;
  font-weight:bold;
  text-decoration: none;
}
/* パスワード設定 */
.userchangepass00{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 200px;
  height: 50px;
  top: 330px;
  left: 650px;
  text-align: center;
  border: none;
  border-radius: 6px;
  background-color: #ccc;
}
.userchangepass01{
  position: relative;
  margin: 0;
  padding: 0;
  top: 12px;
  font-weight:bold;
  text-decoration: none;
}
a:link { color: #000; }
a:visited { color: #000; }
a:hover { color: #000; }
a:active { color: #000; }
/* 自己紹介デザイン */
.selfintroduction00{
  position: absolute;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 6px;
  left: 25px;
  top: 370px;
}
.selfintroduction01{
  padding-left: 15px;
  font-size: 24px;
  color: #fff;
}
.selfintroduction02{
  position: absolute;
  margin: 0;
  padding: 0;
  max-width: 840px;
  max-height: 370px;
  font-size: 24px;
  border: none;
  border-radius: 6px;
  padding-left: 30px;
  padding-top: 10px;
  color: #fff;
  background-color: #1d1b31;
  resize: none;
}
/* ボタン配置、設定（デザイン） */
.btn00 {
  position: absolute;
  top: 715px;
  left: 1560px;
  max-width: 300px;
  margin: 60px auto;
}
/*=============
a.btn_06-2
=============*/
a.btn_06-2 {
  display: block;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  text-decoration: none;
  text-align: center;
  padding: 50px 80px;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid transparent;
  border-radius: 6px;
  box-sizing: border-box;
  max-width: 360px;
  margin: 0 auto;
  position: relative;
}
a.btn_06-2 span {
  position: relative;
  display: block;
  transform: translate(-3px, -3px);
  transition: 0.3s;
  z-index: +1;
}
a.btn_06-2:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background: #e1000e;
  border-radius: 6px;
  box-sizing: border-box;
  transform: translate(-3px, -3px);
  transition: 0.3s;
}
a.btn_06-2:hover span {
  transform: translate(0, 0);
}
a.btn_06-2:hover:after {
  transform: translate(0, 0);
}
@media all and (max-width: 1023px) {
  a.btn_06-2 {
    font-size: 18px;
  }
}
@media all and (max-width: 767px) {
  a.btn_06-2 {
    font-size: 16px;
  }
}
