<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>サインイン</title>
<link rel="stylesheet" href="/CSS/001-01_Sign_in_style.css" />
</head>

<body>
	<div>
		<form method="post" th:action="@{/signin}" >
			<h1>サインイン</h1>
			
			<p th:if="${error} != null"
				th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
				ログインエラーメッセージ</p>
			
			<input type="text" id="email" name="username" placeholder="email" />
			<label id="E_email"></label>
			<input type="password" id="pass"name="password" placeholder="Password" />
			<label id="E_pass"></label>
			
			<input  type="checkbox" id="checkbox-1-1" class="custom-checkbox" />
			<label for="checkbox-1-1">パスワードを保存します</label>
			<button type="submit">サインイン</button>
			<p>
				<a th:href="${'/forgetpass'}" id="forget"><small>パスワードを忘れた場合</small></a>
			</p>
			<p>
				<a th:href="${'/signup'}" id="new account"><small>新しくアカウントを作る</small></a>
			</p>

		</form>
	</div>
</body>

</html>