<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>パスワードを忘れた</title>
  <link rel="stylesheet" href="../CSS/001-03_foget_pass_style.css" type="text/css" />
</head>
<body>
  <div> 
  <form  th:method="put" th:action="@{/registerpass}" th:object="${form}">
    <h1>パスワード再登録</h1>     
    <span th:if="${value1}!=null" th:text="${value1}" class="error-message"></span>
    <input type="text" name="email" id="email" placeholder="email"/><label id="E_email"></label>
    <button>送信</button>
    <p><a href="/signin" id="forget"><small>サインインに戻る</small></a></p>	
  </form>
  </div>
</body>
