<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>他人プロフィール確認画面</title>
    <link rel="stylesheet" href="../CSS/003-02_Other_profiles.html.css">
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="header">
    <h1>
      <input type="text" placeholder="検索" class="top-search">
      <i class="bx bx-search-alt-2"></i>
    </h1>
  </div>
  <div class="sidebar close">
    <div class="logo-details">
        <i class="bx bxs-bug-alt"></i>
      <span class="logo_name">セミファ</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="#">
          <i class="bx bx-grid-alt" ></i>
          <span class="link_name">ホーム</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">ホーム</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class="bx bx-collection" ></i>
            <span class="link_name">作成</span>
        </a>
        <i class="bx bxs-chevron-down arrow" ></i>
    </div>
    <ul class="sub-menu">
      <li><a class="link_name" href="#">作成</a></li>
      <li><a href="#">チュートリアル</a></li>
      <li><a href="#">2D作成</a></li>
      <li><a href="#">3D作成</a></li>
    </ul>
</li>
<li>
  <a href="#">
    <i class="bx bx-history"></i>
    <span class="link_name">マイフォルダ</span>
  </a>
  <ul class="sub-menu blank">
    <li><a class="link_name" href="#">マイフォルダ</a></li>
  </ul>
</li>
<li>
    <div class="iocn-link">
          <a href="#">
            <i class="bx bx-book-alt" ></i>
            <span class="link_name">コード競争</span>
          </a>
          <i class="bx bxs-chevron-down arrow" ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">競争</a></li>
          <li><a href="#">問題集</a></li>
          <li><a href="#">回答集</a></li>
          <li><a href="#">イベント問題</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-line-chart" ></i>
          <span class="link_name">ランキング</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">ランキング</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-cog" ></i>
          <span class="link_name">設定</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">設定</a></li>
        </ul>
      </li>
      <li>
    <div class="profile-details">
      <div class="profile-content">
        <img src="profile.jpg" alt="profileImg">
      </div>
      <div class="name-job">
        <div class="profile_name">マイケルジャクソン</div>
        <div class="job">野菜スペシャリスト</div>
      </div>
      <i class="bx bx-log-out" ></i>
    </div>
  </li>
</ul>
</div>

<div class="apload">
  <!-- 画像プレビュー -->
  <div class="profilechangelist01">
    <div class="ap00">
      <input type="file" name="inpFile" id="inpFile">
      <div class="image-preview" id="imagePreview">
        <img alt="Image Preview" class="image-preview__image">
        <span class="image-preview__default-text">Image Preview</span>
      </div>
    </div>
    <!-- 生年月日 -->
    <div class="userdateofbirth00">
      <p class="userdateofbirth01">生年月日</p>
      <input type="text" class="userdateofbirth02" required value="0000/00/00" readonly>
    </div>
    <!-- 職業 -->
    <div class="userjobs00">
      <p class="userjobs01">職業</p>
      <input type="text" class="userjobs02" value="Youtuber" readonly>
    </div>
    <!-- おきにジャンル -->
    <div class="tag00">
      <p class="favoritegenre">お気に入りのジャンル</p>
      <select class="tag01" size="1">
        <option>ジャンルを選択してください</option>
        <option value="選択肢1">アクションゲーム</option>
        <option value="選択肢2">ロールプレイングゲーム</option>
        <option value="選択肢3">シューティングゲーム</option>
        <option value="選択肢4">アドベンチャーゲーム</option>
        <option value="選択肢5">シミュレーションゲーム</option>
        <option value="選択肢6">レースゲーム</option>
        <option value="選択肢7">パズルゲーム</option>
        <option value="選択肢8">サンドボックス</option>
        <option value="選択肢9">音楽ゲーム</option>
        <option value="選択肢10">テーブルゲーム</option>
        <option value="選択肢11">スポーツゲーム</option>
        <option value="選択肢12">その他</option>
      </select>
    </div>
    <!-- 登録日 -->
    <input type="text" class="userregisterdate" value="0000/00/00登録" readonly>
  </div>
  <!-- 囲ってある場所 -->
  <div class="profilechangelist02">
    <!-- ユーザーの名前 -->
    <div class="usernamechange00">
      <p class="usernamechange01">ユーザー名</p>
      <input type="text" class="usernamechange02" value="ガマ星雲第58番惑星宇宙侵攻軍特殊先行工作部隊隊長" readonly><br>
    </div>
    <!-- 性別チェックボックス -->
    <div class="checkbox00">
      <div class="men">
        <input type="checkbox" value="2" style="transform:scale(1.0);" id="checkbox01" class="permission0"/>
        <label for="checkbox01">男</label>
      </div>
      
      <div class="women">
        <input type="checkbox" value="2" style="transform:scale(1.0);" id="checkbox02" class="permission0"/>
        <label for="checkbox02">女</label>
      </div>

      <div class="lgbt">
        <input type="checkbox" checked value="2" style="transform:scale(1.0);" id="checkbox03" class="permission0"/>
        <label for="checkbox03">その他</label>
      </div>
    </div>
    <!-- メアド -->
    <div class="useremail00">
      <p class="useremail01">メールアドレス</p>
      <input type="email" class="useremailchange01" value="123456789012345@iwasaki.ne.jp" readonly>
    </div>
    <!-- 自己紹介 -->
    <div class="selfintroduction00">
      <p class="selfintroduction01">自己紹介</p>
      <textarea cols="70" rows="50" class="selfintroduction02" readonly>犬でも歩けば棒にはあたる
        サルも木から落ちる事もある
        得意分野でもたまには
        失敗する事もあるでしょう
        そんな時には無責任 考えないのが必勝法さ
        たまには良い事あるのさと
        開き直るのが肝心なのでしょう
        
        何でもかんでもやりましょう
        パーッといっちょうやりましょう
        実はみなさん無責任
        頭カラッポのほうが楽しいのさ
        何でもかんでもやりましょう
        パーッといっちょうやりましょう
        日本人は暗いねと
        いつまでも言われてる場合じゃないでしょう
        
        人の土俵で相撲を取りましょう
        楽しい事だけやっていれば
        人に何かを言われても
        別にたいしてヘコまないでしょう
        体は軽い方がいい 足取り軽くどこまでも
        考えすぎて疲れたら
        思い切って無責任にやっていきましょう
        
        何でもかんでもやりましょう
        パーッといっちょうやりましょう
        心配なんちゅうもんは全部ギャグ
        ネタが一つ増えたと思ったらいいのさこの無責任
        何でもかんでもやりましょう
        パーッといっちょうやりましょう
        つまりこの世は無責任
        行け 全国無責任時代
        
        全国 日本 世界 地球 宇宙
        無責任 一代よ
        
        何でもかんでもやりましょう
        パーッといっちょうやりましょう
        実はみなさん無責任
        頭カラッポのほうが楽しいのさ
        何でもかんでもやりましょう
        パーッといっちょうやりましょう
        日本人は暗いねと
        いつまでも言われてる場合じゃないでしょう...
        
        何でもかんでもやりましょう
        ご苦労さーん!</textarea>
    </div>
  </div>
    <!-- ボタン -->
  <div class="btn01">
    <a href="#" class="btn_06-1"><span>制作物を見る</span></a>
  </div>
  <div class="btn00">
    <a href="#" class="btn_06-2"><span>フォローする</span></a>
  </div>
</div>
<!-- <section class="home-section">
</section> -->
<script>
  /*サイドバーのJS*/
  let arrow = document.querySelectorAll(".arrow");
  for (var i = 0; i < arrow.length; i++) {
    arrow[i].addEventListener("click", (e)=>{
      let arrowParent = e.target.parentElement.parentElement;
      arrowParent.classList.toggle("showMenu");
    });
  }
  let sidebar = document.querySelector(".sidebar");
  let sidebarBtn = document.querySelector(".bxs-bug-alt");
  console.log(sidebarBtn);
  sidebarBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("close");
  });
  /*画像プレビューJS*/
  const inpFile = document.getElementById("inpFile");
        const previewContainer = document.getElementById("imagePreview");
        const previewImage = previewContainer.querySelector(".image-preview__image");
        const previewDefaultText = previewContainer.querySelector(".image-preview__default-text");

        inpFile.addEventListener("change", function() {
            const file = this.files[0];
            
            if(file) {
                const reader = new FileReader();

                previewDefaultText.style.display = "none";
                previewImage.style.display = "block";

                reader.addEventListener("load", function(){
                    previewImage.setAttribute("src", this.result);
                });

                reader.readAsDataURL(file);
            } else{
                previewDefaultText.style.display = "null";
                previewImage.style.display = "null";
                previewImage.setAttribute("src", "");
            }
        });
  </script>
</body>
</html>