<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head
	th:replace="HTML/topsidebar :: meta_header('プロフィール',~{::meta},~{::link},~{::script})">

<link rel="stylesheet" th:href="@{/CSS/005-01_User_profile.css}">
<script th:src="@{/JS/005-01_User_profile.js}"></script>
</head>
<body>
	<div th:replace="HTML/topsidebar :: headbar"></div>
	<div th:replace="HTML/topsidebar :: sidebar"></div>
	<section class="home-section">
		<div class="apload">
			<!-- 画像プレビュー -->

			<!-- 枠のある場所 -->
			<div class="profilechangelist02">
				<form th:action="@{/profile/edit}" th:method="put">
					<div class="profilechangelist01">
						<div class="ap">
							<div class="ap00">
								<input type="file" name="imgFile" id="inpFile" accept="image/*">
								<div class="image-preview" id="imagePreview"
									th:with="img=@{'/getProfileImg/'+${user.id}}">
									<img class="image-preview_image" th:if="${img}"
										th:src="${img}" alt="profileImg">
									<span th:unless="${img}"
										class="image-preview__default-text">Image Preview</span>
								</div>
							</div>
							<!-- ユーザーの名前 -->
							<div class="ap01">
								<p class="tag required">名前</p>
								<input type="text" class="usernamechange02" name="name"
									th:value="${user.name}" placeholder="名前を入力してください"
									required="required">
								<!-- メアド -->
								<!--<p class="tag required">メールアドレス</p>
								<input type="email" class="useremailchange01"
									th:value="${'aaa'}" disabled="disabled">-->
								<table>
									<tr>
										<td>
											<p class="userdateofbirth01 required">生年月日</p>
										</td>
										<td>
											<p class="userdateofbirth01 required">性別</p>
										</td>
									</tr>
									<tr>
										<!-- 生年月日 -->
										<td>
											<div class="userdateofbirth00">
												<input type="date" class="userdateofbirth02" name="birth"
													required="required" placeholder="生年月日を入力してください"
													th:value="${user.birth}">
											</div>
										</td>
										<!-- 性別チェックボックス -->
										<td>
											<div class="checkbox00">
												<span class="men"> <input type="radio" id="men"
													name="sex" value=0 th:checked="${user.sex == 0}"> <label
													for="men">男</label>
												</span> <span class="women"> <input type="radio" id="women"
													name="sex" value=1 th:checked="${user.sex == 1}"> <label
													for="women">女</label>
												</span> <span class="lgbt"> <input type="radio" id="lgbt"
													name="sex" value=2 th:checked="${user.sex == 2}"> <label
													for="lgbt">その他</label>
												</span>
											</div>
										</td>
									</tr>
								</table>
								<!-- 登録日 -->
								<p class="userregisterdate"
									th:text="${#temporals.format(user.entry, 'yyyy/MM/dd HH:mm') + '登録'}"></p>
							</div>
						</div>
						<div class="ap2">
							<!-- 職業 -->
							<div class="userjobs00">
								<p class="userjobs01">職業</p>
								<input type="text" class="userjobs02" name="job"
									placeholder="  職業を入力してください" th:value="${user.job}">
							</div>
							<!-- おきにジャンル -->
							<div class="tag00">
								<p class="favoritegenre">お気に入りのジャンル</p>
								<select class="tag01" name="fav" size="1">
									<option hidden>ジャンルを選択してください</option>
									<option value="1" th:selected="${user.fav=='1'}">アクションゲーム</option>
									<option value="2" th:selected="${user.fav=='2'}">ロールプレイングゲーム</option>
									<option value="3" th:selected="${user.fav=='3'}">シューティングゲーム</option>
									<option value="4" th:selected="${user.fav=='4'}">アドベンチャーゲーム</option>
									<option value="5" th:selected="${user.fav=='5'}">シミュレーションゲーム</option>
									<option value="6" th:selected="${user.fav=='6'}">レースゲーム</option>
									<option value="7" th:selected="${user.fav=='7'}">パズルゲーム</option>
									<option value="8" th:selected="${user.fav=='8'}">サンドボックス</option>
									<option value="9" th:selected="${user.fav=='9'}">音楽ゲーム</option>
									<option value="10" th:selected="${user.fav=='10'}">テーブルゲーム</option>
									<option value="11" th:selected="${user.fav=='11'}">スポーツゲーム</option>
									<option value="other"
										th:selected="${user.fav=='other' || user.fav == null}">その他</option>
								</select>
							</div>
						</div>
					</div>
					<div class="ap3">
						<div class="userchangepass00">
							<input type="submit" class="userchangepass01" value="変更">
						</div>
						<div class="userchangepass10">
							<a href="#" class="userchangepass11 email">メールアドレスを変更する</a>
						</div>
						<!-- ぱすわ -->
						<div class="userchangepass10">
							<a href="#" class="userchangepass11">パスワードを変更する</a>
						</div>
					</div>
					<!-- 自己紹介 -->
					<div class="selfintroduction00">
						<textarea cols="70" rows="50" class="selfintroduction02"
							placeholder="自己紹介" th:text="${user.profile}" name="profile"></textarea>
					</div>
					<!-- ボタン -->
				</form>
			</div>
		</div>
	</section>
</body>
</html>