<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="HTML/topsidebar :: meta_header('問題解答',~{::meta},~{::link},~{::script})">

	<meta th:name="_csrf" th:content="${_csrf.token}" />
	<meta th:name="_csrf_header" th:content="${_csrf.headerName}" />
	<link rel="stylesheet" th:href="@{/CSS/006-03_Game_creation_problem.css}">
	<link th:href='@{https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css}' rel='stylesheet'>

	<script th:src="@{/JS/API/google-blockly/blockly_compressed.js}"></script>
	<script th:src="@{/JS/API/google-blockly/blocks_compressed.js}"></script>
	<script th:src="@{/JS/API/google-blockly/javascript_compressed.js}"></script>
	<script th:src="@{/JS/API/google-blockly/msg/js/ja.js}"></script>

	<script th:src="@{/JS/main05_compile.js}"></script>
	<script th:src="@{/JS/main05_declaration.js}"></script>
	<script th:src="@{https://unpkg.com/fabric@latest/dist/fabric.js}"></script>
	<script th:src="@{https://unpkg.com/fabric@latest/src/mixins/eraser_brush.mixin.js}"></script>
	<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
	<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/gsap.min.js}"></script>
	<!--  <script th:src="@{/JS/004-02_Game_creation.js}"></script> -->
	<script th:src="@{/JS/compile_functions.js}"></script>
	<script th:src="@{/JS/acorn_interpreter.js}"></script>
	<script th:src="@{/JS/editProject.js}"></script>
	<script th:inline="javascript">
		const inputJson = JSON.parse(/*[[${inputJson}]]*/);
	</script>
</head>

<body>

	<script>
		function showCode() {
			var code = Blockly.JavaScript.workspaceToCode(workspace);
			console.log(code);
		}

		function run_tst() {
			var code = Blockly.JavaScript.workspaceToCode(workspace);
			try {
				eval(code);
			} catch (e) {
				alert("構文エラー:" + e);
			}
		}
	</script>
	<section class="home-section">
		<div id="main">
			<div id="left_element" class="item">
				<div class="tab-panel">
					<!--タブ-->
					<ul class="tab-group">
						<li class="tab tab-A is-active"><svg version="1.0" xmlns="http://www.w3.org/2000/svg"
								width="17pt" height="8pt" viewBox="0 0 80.000000 34.000000"
								preserveAspectRatio="xMidYMid meet">
								<g transform="translate(0.000000,34.000000) scale(0.100000,-0.100000)" fill="#000000"
									stroke="none">
									<path d="M34 316 c-16 -12 -20 -29 -23 -102 -5 -140 20 -184 106 -184 14 0 38
 									-8 54 -17 28 -17 31 -17 62 0 28 15 69 17 307 20 l275 2 3 148 3 147 -284 0
 									c-277 0 -284 0 -307 -22 l-23 -22 -38 22 c-43 25 -106 29 -135 8z" />
								</g>
							</svg> コード</li>
						<li class="tab tab-B"><svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='#000000'
								width='24' height='24'>
								<path
									d="M13.4 2.096a10.08 10.08 0 0 0-8.937 3.331A10.054 10.054 0 0 0 2.096 13.4c.53 3.894 3.458 7.207 7.285 8.246a9.982 9.982 0 0 0 2.618.354l.142-.001a3.001 3.001 0 0 0 2.516-1.426 2.989 2.989 0 0 0 .153-2.879l-.199-.416a1.919 1.919 0 0 1 .094-1.912 2.004 2.004 0 0 1 2.576-.755l.412.197c.412.198.85.299 1.301.299A3.022 3.022 0 0 0 22 12.14a9.935 9.935 0 0 0-.353-2.76c-1.04-3.826-4.353-6.754-8.247-7.284zm5.158 10.909-.412-.197c-1.828-.878-4.07-.198-5.135 1.494-.738 1.176-.813 2.576-.204 3.842l.199.416a.983.983 0 0 1-.051.961.992.992 0 0 1-.844.479h-.112a8.061 8.061 0 0 1-2.095-.283c-3.063-.831-5.403-3.479-5.826-6.586-.321-2.355.352-4.623 1.893-6.389a8.002 8.002 0 0 1 7.16-2.664c3.107.423 5.755 2.764 6.586 5.826.198.73.293 1.474.282 2.207-.012.807-.845 1.183-1.441.894z">
								</path>
								<circle cx="7.5" cy="14.5" r="1.5"></circle>
								<circle cx="7.5" cy="10.5" r="1.5"></circle>
								<circle cx="10.5" cy="7.5" r="1.5"></circle>
								<circle cx="14.5" cy="7.5" r="1.5"></circle>
							</svg> コスチューム</li>
						<li class="tab tab-C"><svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='#000000'
								width='24' height='24'>
								<path
									d="M16 21c3.527-1.547 5.999-4.909 5.999-9S19.527 4.547 16 3v2c2.387 1.386 3.999 4.047 3.999 7S18.387 17.614 16 19v2z">
								</path>
								<path
									d="M16 7v10c1.225-1.1 2-3.229 2-5s-.775-3.9-2-5zM4 17h2.697L14 21.868V2.132L6.697 7H4c-1.103 0-2 .897-2 2v6c0 1.103.897 2 2 2z">
								</path>
							</svg> 音</li>
					</ul>
					<div class="shortcut undo" title="元に戻す" onclick="o_undo_redo(false)">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox='0 0 24 24' width="26" height="26">
							<path
								d="M9 10h6c1.654 0 3 1.346 3 3s-1.346 3-3 3h-3v2h3c2.757 0 5-2.243 5-5s-2.243-5-5-5H9V5L4 9l5 4v-3z" />
						</svg>
					</div>
					<div class="shortcut redo" title="やり直し" onclick="o_undo_redo(true)">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox='0 0 24 24' width="26" height="26">
							<path
								d="M9 10h6c1.654 0 3 1.346 3 3s-1.346 3-3 3h-3v2h3c2.757 0 5-2.243 5-5s-2.243-5-5-5H9V5L4 9l5 4v-3z" />
						</svg>
					</div>
					<div class="shortcut load" title="復元" onclick="restore()">
						<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='#000000' width='26'
							height='26'>
							<path d="m12 16 4-5h-3V4h-2v7H8z"></path>
							<path d="M20 18H4v-7H2v7c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2v-7h-2v7z"></path>
						</svg>
					</div>
					<div class="shortcut save" title="保存" onclick="save()">
						<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='#000000' width='26'
							height='26'>
							<path d="M11 15h2V9h3l-4-5-4 5h3z"></path>
							<path d="M20 18H4v-7H2v7c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2v-7h-2v7z"></path>
						</svg>
					</div>
					<!--タブを切り替えて表示するコンテンツ-->
					<div class="panel-group">
						<div class="panel tab-A is-show">
							<div id="blocklyDiv"></div>
						</div>
						<div class="panel tab-B">
							<p>
								<button onclick="showCode()">JSにコンパイル(console)</button>
								<button onclick="run_tst()">実行</button>
								<textarea id="printbox" rows="10" cols="100"></textarea>
							</p>
						</div>
						<div class="panel tab-C">Content-C</div>
					</div>
				</div>
			</div>
			<div id="right_element" class="item">
				<div id="controlls">
					<svg id="play" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"
						style="fill: rgba(6, 156, 28, 1);">
						<path d="M7 6v12l10-6z"></path>
					</svg>
					<svg id="stop" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"
						style="fill: rgba(226, 67, 67, 1);">
						<path d="M7 7h10v10H7z"></path>
					</svg>
					<svg id="fullscreen" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"
						style="fill: rgba(206, 201, 200, 0.8);">
						<path d="M5 5h5V3H3v7h2zm5 14H5v-5H3v7h7zm11-5h-2v5h-5v2h7zm-2-4h2V3h-7v2h5z"></path>
					</svg>
				</div>
				<div class="boxes" id="field">
					<!-- キャンバス -->
					<canvas id="operation_canvas" width="600" height="400"></canvas>
				</div>
				<div id="property">
					<div id="Oinformation" class="property_item">
						<div id="OJ_Info">
							<div>
								<p style="margin: 0;">オブジェクト</p>
								<table class="example1">
									<tr>
										<td>
											<p style="margin: 0;">名前</p> <input type="text" id="Object_name"
												name="Object_name" requiredminlength="4" maxlength="50">
										</td>
										<td>
											<p style="margin: 0;">X</p> <input type="number" id="Object_X"
												name="Object_X" requiredminlength="4" maxlength="8" size="10">
										</td>
										<td>
											<p style="margin: 0;">Y</p> <input type="number" id="Object_Y"
												name="Object_Y" requiredminlength="4" maxlength="8" size="10">
										</td>
									</tr>
								</table>
							</div>
							<div>
								<table class="example1">
									<tr>
										<td>
											<p style="margin: 0;">表示</p>
											<div class="sample1Area" id="makeImg">
												<input type="radio" name="sample1radio" id="sample1on" checked=""
													onchange="visibility_dis_on()"> <label for="sample1on">ON</label>
												<input type="radio" name="sample1radio" id="sample1off"
													onchange="visibility_dis_off()"> <label for="sample1off">OFF</label>
											</div>
										</td>
										<td>
											<p style="margin: 0;">大きさ</p>
											<div>
												<span><input type="number" id="sizeX" name="Object_sizeX"
														requiredminlength="4" maxlength="8" size="10"></span>
												<span><input type="number" id="sizeY" name="Object_sizeY"
														requiredminlength="4" maxlength="8" size="10"></span>
											</div>

										</td>
										<td>
											<p style="margin: 0;">向き</p> <input type="number" id="Object_direction"
												name="Object_direction" requiredminlength="4" maxlength="8" size="10">
										</td>
									</tr>
								</table>
							</div>
						</div>
						<div id="objects"></div>

						<div id="objects_top">
							<div id="chara_div">
								<label id="chara_label"> <input type="file" id="add_character" style="display: none;"
										accept="image/*" onchange="AddPropertyObj(this)"> <img
										src="/IMG/others/ghost-regular-24.png">
								</label>
							</div>
						</div>
					</div>
					<div id="BGinformation" class="property_item">
						<div id="bg_div">
							<label id="back_label"> <input type="file" id="add_background" style="display: none;"
									accept="image/*" onchange="AddBackground(this)"> <img
									src="/IMG/others/landscape-regular-24.png">
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script>
		var myInterpreter = null;
		var initFunc = function (interpreter, scope) {
			var wrapper_Semi_move = function (dropdown_object, value_input) {
				// console.log(dropdown_object, value_input)
				return Semi_move(dropdown_object, value_input);
			};
			var wrapper_Semi_rotation = function (dropdown_object, value_input,
				dropdown_select_lr) {
				return Semi_rotation(dropdown_object, value_input,
					dropdown_select_lr);
			}
			var wrapper_Semi_print = function (value_input) {
				return Semi_print(value_input);
			}

			var wrapper_sleep = function (waitMsec) {
				return sleep(waitMsec);
			}

			var wrapper_sum = function (array) {
				return sum(array);
			}

			var wrapper_avg = function (array) {
				return avg(array);
			}

			var wrapper_RanDom = function (min, max) {
				return RanDom(min, max)
			}

			var wrapper_Semi_xy_both_coordinate = function (dropdown_object,
				value_input, value_input2) {
				return Semi_xy_both_coordinate(dropdown_object, value_input,
					value_input2);
			}

			var wrapper_Semi_x_coordinate = function (dropdown_object,
				dropdown_select_xy, value_input) {
				return Semi_x_coordinate(dropdown_object, dropdown_select_xy,
					value_input);
			}

			var wrapper_Semi_turn = function (dropdown_object, value_input) {
				return Semi_turn(dropdown_object, value_input);
			}

			var wrapper_Semi_rebound = function (dropdown_object) {
				return Semi_rebound(dropdown_object);
			}

			var wrapper_Semi_get_x_coordinates = function (dropdown_object,
				dropdown_select_xy) {
				return Semi_get_x_coordinates(dropdown_object,
					dropdown_select_xy);
			}

			var wrapper_get_turn = function (dropdown_object) {
				return get_turn(dropdown_object);
			}

			var wrapper_Semi_change_size = function (dropdown_object,
				value_input) {
				return Semi_change_size(dropdown_object, value_input);
			}

			var wrapper_Semi_show = function (dropdown_object, dropdown_set_show) {
				return Semi_show(dropdown_object, dropdown_set_show);
			}

			var wrapper_Semi_get_size = function (dropdown_object) {
				return Semi_get_size(dropdown_object);
			}

			var wrapper_Semi_get_background = function (dropdown_object) {
				return Semi_get_background(dropdown_object);
			}

			var wrapper_Semi_con_back_change = function (dropdown_object) {
				return Semi_con_back_change(dropdown_object);
			}
			var wrapper_alert = function (value) {
				return Semi_wnidow_alert(value);
			}
			var wrapper_Semi_wait_for_input = function () {
				return Semi_wait_for_input();
			}
			var wrapper_Semi_input_info = function () {
				return Semi_input_info();
			}

			interpreter.setProperty(scope, 'Semi_move', interpreter
				.createNativeFunction(wrapper_Semi_move));
			interpreter.setProperty(scope, 'Semi_rotation', interpreter
				.createNativeFunction(wrapper_Semi_rotation));
			interpreter.setProperty(scope, 'Semi_print', interpreter
				.createNativeFunction(wrapper_Semi_print));
			interpreter.setProperty(scope, 'sleep', interpreter
				.createNativeFunction(wrapper_sleep));
			interpreter.setProperty(scope, 'sum', interpreter
				.createNativeFunction(wrapper_sum));
			interpreter.setProperty(scope, 'avg', interpreter
				.createNativeFunction(wrapper_avg));
			interpreter.setProperty(scope, 'RanDom', interpreter
				.createNativeFunction(wrapper_RanDom));
			interpreter
				.setProperty(
					scope,
					'Semi_xy_both_coordinate',
					interpreter
						.createNativeFunction(wrapper_Semi_xy_both_coordinate));
			interpreter.setProperty(scope, 'Semi_x_coordinate', interpreter
				.createNativeFunction(wrapper_Semi_x_coordinate));
			interpreter.setProperty(scope, 'Semi_turn', interpreter
				.createNativeFunction(wrapper_Semi_turn));
			interpreter.setProperty(scope, 'Semi_rebound', interpreter
				.createNativeFunction(wrapper_Semi_rebound));
			interpreter
				.setProperty(
					scope,
					'Semi_get_x_coordinates',
					interpreter
						.createNativeFunction(wrapper_Semi_get_x_coordinates));
			interpreter.setProperty(scope, 'get_turn', interpreter
				.createNativeFunction(wrapper_get_turn));
			interpreter.setProperty(scope, 'Semi_change_size', interpreter
				.createNativeFunction(wrapper_Semi_change_size));
			interpreter.setProperty(scope, 'Semi_show', interpreter
				.createNativeFunction(wrapper_Semi_show));
			interpreter.setProperty(scope, 'Semi_get_size', interpreter
				.createNativeFunction(wrapper_Semi_get_size));
			interpreter.setProperty(scope, 'Semi_get_background', interpreter
				.createNativeFunction(wrapper_Semi_get_background));
			interpreter.setProperty(scope, 'Semi_con_back_change', interpreter
				.createNativeFunction(wrapper_Semi_con_back_change));
			interpreter.setProperty(scope, 'Semi_wnidow_alert', interpreter
				.createNativeFunction(wrapper_alert));
			interpreter.setProperty(scope, 'Semi_wait_for_input', interpreter
				.createNativeFunction(wrapper_Semi_wait_for_input));
			interpreter.setProperty(scope, 'Semi_input_info', interpreter
				.createNativeFunction(wrapper_Semi_input_info));

		};
		var pid = 0;
		var stepCode_flg = 0;

		function double_startup_check() {
			if (stepCode_flg == 0) {
				stepCode_flg = 1;
				stepCode();
			} else {
				window.clearTimeout(pid);
				pid = 0;
				stepCode();
			}
		}
		function stepCode() {
			// var myCode = Blockly.JavaScript.workspaceToCode(workspace);
			// myInterpreter = new Interpreter(myCode, initFunc);
			if (this.myInterpreter.step()) {
				pid = window.setTimeout(stepCode, 10);
			}
		}
		function runCode() {
			var myCode = Blockly.JavaScript.workspaceToCode(workspace);
			myInterpreter = new Interpreter(myCode, initFunc);
			myInterpreter.run();
		}

		$("#play path").click(function () {
			alert('play');
			document.getElementById("Object_name").disabled = true;
			document.getElementById("Object_X").disabled = true;
			document.getElementById("Object_Y").disabled = true;
			document.getElementById("Object_size").disabled = true;
			document.getElementById("Object_direction").disabled = true;

			var myCode = Blockly.JavaScript.workspaceToCode(workspace);
			myInterpreter = new Interpreter(myCode, initFunc);
			double_startup_check();

		});
		$("#stop path").click(function () {
			alert('stop');
			document.getElementById("Object_name").disabled = false;
			document.getElementById("Object_X").disabled = false;
			document.getElementById("Object_Y").disabled = false;
			document.getElementById("Object_size").disabled = false;
			document.getElementById("Object_direction").disabled = false;

			window.clearTimeout(pid);
		});
		$("#fullscreen path").click(function () {
			alert('fullscreen');
		});
	</script>
	<div id="contextmenu">
		<li id="copyBtn" onclick="menu1()">複製</li>
		<li id="saveBtn" onclick="menu2()">保存</li>
		<li id="deleteBtn" onclick="menu3()">削除</li>
	</div>
</body>
<script>
	// Ready();

	function resizeWindow() {
		var resize_w = document.getElementById("left_element").style.width;
		var resize_h = document.getElementById("left_element").style.height;
		resize_w = (parseInt(resize_w.slice(0, -2)) - 74) + "px";//74
		resize_h = (parseInt(resize_h.slice(0, -2)) - 196) + "px";//196
		document.getElementsByClassName("blocklyZoom")[2].parentElement.style.transform = 'translate('
			+ resize_w + ',' + resize_h + ')';
	}

	window.onresize = resizeWindow;

	var scroll_cnt = 0;
	document.addEventListener('DOMContentLoaded', function () {
		document.getElementById("BGinformation").addEventListener(
			'scroll',
			function () {
				if (scroll_cnt < $(this).scrollTop()) {//下にスクロール
					//下方向に無限にスクロールしない為の分岐
					if ($("#BGinformation").height() > $("#BGinformation")
						.height()
						- 46 + $(this).scrollTop()) {
						$("#bg_div").css(
							"top",
							$("#BGinformation").height() - 46
							+ $(this).scrollTop());
					}
					scroll_cnt = $(this).scrollTop();
				} else {//上にスクロール
					$("#bg_div").css(
						"top",
						$("#BGinformation").height() - 48
						+ $(this).scrollTop());
					scroll_cnt = $(this).scrollTop();
				}
			});
	});
</script>

</html>