<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head
	th:replace="HTML/topsidebar :: meta_header('トップ',~{::meta},~{::link},~{::script})">
<title>問題挑戦確認画面</title>
<link rel="stylesheet" th:href="@{/CSS/006-02_Problem_details.css}">
<script th:src="@{/JS/answerFlgCheck.js}"></script>
</head>

<body>
	
	<div th:replace="HTML/topsidebar :: headbar"></div>
	<div th:replace="HTML/topsidebar :: sidebar"></div>
	<section class="home-section">
		<div class="apload">
			<!-- 囲ってある場所 -->
			<div class="profilechangelist02">
				<input type="text" class="questionname" name="name"
					th:value="${'問題名:'+problem.title}" readonly>
				<div class="questioncontents">
					<div class="questionrank" th:text="${'ランク'+problem.dif}"></div>
					<div class="questionnotime" th:text="${'制限時間'+problem.timeLimit}"></div>
					<div class="questionhuman" th:text="${'受講者数'+problem.num+'人'}"></div>
					<div class="questiontime" th:text="${'平均回答時間'+problem.timeaverage}"></div>
					<div class="questionlevel" th:text="${'難易度'+problem.rate}"></div>
					<div class="questionanswer" th:text="${'正解率'+problem.correct+'%'}"></div>
					<div class="questionscore" th:text="${'平均点'+problem.scoreaverage+'点'}"></div>
				</div>
				<div class="btns">
					<div class="btn01">
						<a href="#" class="btn_06-1"><span>問題紹介文表示</span></a>
					</div>
					<div class="btn00">
						<a th:href="@{'/problems/'+${problem.id}+'/challenge'}" class="btn_06-2"><span>挑戦する</span></a>
					</div>
				</div>
				<div th:onclick="|jumpAnswer('__${problem.id}__')|" class="answertoker">答えを見る</div>
			</div>
		</div>
	</section>
</body>
</html>